.accordion-button {
  &:focus {
    border-color: $border-color;
    box-shadow: none;
  }
}

.accordion-item {
  &:first-of-type {
    .accordion-button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &:last-of-type {
    .accordion-button.collapsed,
    .accordion-collapse {
      border-bottom-width: 3px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


.accordion-style1 {
  .accordion-button {
    border: 3px solid transparent;
    padding: 24px 60px 24px 30px;
    font-size: 20px;  
    text-transform: uppercase;
    font-weight: 700;    
    background-color: $theme-color;
    color: $white-color;
    text-align: left;
    transition: all ease 0.4s;

    &:after {
      content: '\f078';
      width: auto;
      height: auto;
      font-family: $icon-font;
      background-image: none;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      font-size: 18px;
    }

    &:before {
      content: '';
      position: absolute;
      right: 60px;
      top: 50%;
      height: 45px;
      width: 1px;
      margin-top: -22.5px;
      background-color: rgba(#fff, 0.4);
      transition: all ease 0.4s;
    }

    &.collapsed {
      background-color: transparent;
      color: $title-color;
      border-color: $border-color;

      &:after {
        transform: translateY(-50%) rotate(0);
      }

      &:before {
        background-color: $border-color;
      }
    }
    
  }

  .accordion-collapse {
    border: none;
  }

  .accordion-item {
    margin-bottom: 30px;
  }

  .accordion-body {
    padding: 18px 30px 3px 30px;

    >p {
      font-size: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include ml {
  .accordion-style1 {
    .accordion-button {
      font-size: 18px;
      padding: 18px 60px 18px 20px;
    }

    .accordion-body {
      padding: 18px 25px 3px 25px;

      > p {
        font-size: 16px;
      }
    }
  }
}

@include lg {
  .accordion-style1 {
    .accordion-button {
      font-size: 16px;
      padding: 14px 40px 14px 20px;
      line-height: 1.4;

      &:before {
        right: 40px;
      }

      &:after {
        right: 14px;
        font-size: 16px;
      }
    }

    .accordion-body {
      padding: 16px 20px 3px 20px;

      >p {
        font-size: 16px;
      }
    }
  }

}

@include sm {
  .accordion-style1 {
    .accordion-item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}


@include dark {
  .accordion-style1 {
    --border-color: #2F2C43;
  }
}