.match-menu1 {
  margin-bottom: 28px;

  .match-date {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }

  .match-day {
    color: #dddddd;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: 1;
  }

  button {
    border: none;
    background-color: $secondary-color;
    text-align: left;
    padding: 35px 40px 32px 40px;
    display: block;
    width: calc(100% - 30px);
    margin: 0 30px 2px 0;
    position: relative;
    transition: all ease 0.4s;

    &:before {
      content: '';
      position: absolute;
      right: -30px;
      top: 0;
      bottom: 0;
      width: 30px;
      background-color: $theme-color;
      clip-path: polygon(100% 50%, 0 0, 0 100%);
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.3s;
      transform: translateX(-4px);
    }

    &.active,
    &:hover {
      background-color: $theme-color;

      &:before {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.match-menu2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: $smoke-color;

  button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    background-color: transparent;
    line-height: 1;
    color: $title-color;
    padding: 35px 46px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -0.5px;
      top: 50%;
      height: 30px;
      width: 1px;
      margin-top: -15px;
      background-color: rgba(#000, 0.3);
    }

    &:hover,
    &.active {
      background-color: $theme-color;
      color: $white-color;
    }

    &.active::before,
    &:hover::before,
    &:hover+button::before,
    &.active+button::before,
    &:first-child::before {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.match-style1 {
  margin-bottom: 20px;
  background-color: $body-bg;

  &:last-child {
    margin-bottom: 30px;
  }

  .match-top {
    display: flex;
    align-items: center;
    border: 3px solid $smoke-color;
    border-bottom: none;
    justify-content: space-between;
    padding: 5px 45px;
    min-height: 120px;
    transition: all ease 0.4s;
  }

  .match-team {
    display: flex;
    align-items: center;
    gap: 20px;

    &:last-child {
      flex-direction: row-reverse;
    }
  }

  .team-name {
    font-weight: 600;
    margin: 0;
  }

  .match-time {
    font-size: 35px;
    color: $title-color;
    font-weight: 700;
  }

  .match-bottom {
    text-align: center;
    position: relative;
    background-color: $smoke-color;
    padding: 10px 0;
    transition: all ease 0.4s;
  }

  .match-date {
    font-size: 18px;
    font-weight: 500;
    color: $title-color;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    transition: all ease 0.4s;
    opacity: 1;
    visibility: visible;
  }

  .match-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.4s;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-color;
    opacity: 0;
    visibility: hidden;

    i {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }


  &:hover {
    .match-date {
      opacity: 0;
      visibility: hidden;
    }

    .match-btn {
      opacity: 1;
      visibility: visible;
    }

    .match-bottom {
      background-color: $theme-color;
    }

    .match-top {
      border-color: $theme-color;
    }
  }

}

.match-style2 {
  text-align: center;
  background-color: $smoke-color;
  padding: 110px 100px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  .match-name {
    font-size: 34px;
    text-transform: uppercase;
    margin: -0.3em 0 8px 0;
  }

  .match-date {
    text-transform: uppercase;
    color: $title-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 45px 0;
  }

  .match-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .team-avaters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
  }

  .total-avater {
    font-size: 16px;
    font-weight: 600;
    color: $title-color;
    padding: 0 5px;
    display: inline-block;
  }

  .avater {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid $title-color;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;

    img {
      width: 100%;
    }
  }

  .team-name {
    font-weight: 600;
    margin: 0 0 11px 0;
  }

  .match-bottom {
    margin-top: -15px;
  }


  .match-shape1 {
    position: absolute;
    right: -30px;
    bottom: -35px;
    background-color: $theme-color;
    width: 100%;
    height: 131px;
    clip-path: path('M1285.000,-0.001 L970.006,26.494 L1036.243,66.235 L-0.000,130.999 L1283.528,130.999');
  }

  .match-team {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
    flex: 1;

    &:last-child {
      text-align: right;
      flex-direction: row-reverse;

      .team-avaters {
        flex-direction: row-reverse;
      }
    }
  }

  &:not(.layout2):not(.layout3) {
    .match-time {
      display: block;
      width: 200px;
      height: 200px;
      line-height: 200px;
      font-size: 35px;
      font-weight: 700;
      color: $title-color;
      background-color: rgba(#fff, 0.25);
      border-radius: 50%;
      box-shadow: 0 0 40px 0 rgba(#000, 0.02);
    }
  }

  &.layout3,
  &.layout2 {
    padding: 55px 75px;
    outline: 5px solid transparent;
    outline-offset: -5px;
    transition: all ease 0.4s;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 30px;
    }
    
    .match-time {
      font-size: 54px;
      color: $title-color;
      font-weight: 700;
      line-height: 1;
      margin: -0.1em 0 10px 0;
    }

    .match-date {
      margin-bottom: 0;
    }

    .match-bottom {
      margin: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all ease 0.4s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.layout2 {
    &:hover {
      outline-color: $theme-color;
      background-color: $body-bg;

      .match-bottom {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.layout3 {
    padding: 29px 45px;
    
    .match-time {
      margin: 0;
    }
  }
}

.match-style3 {
  display: flex;
  margin-bottom: 20px;
  background-color: $body-bg;
  width: 100%;

  &:last-child {
    margin-bottom: 30px;
  }

  .match-top {
    display: flex;
    border: 3px solid $smoke-color;
    border-top: none;
    transition: all ease 0.4s;
  }

  .match-team {
    flex: 1;
    width: 240px;
    text-align: center;
  }

  .team-name {
    background-color: $smoke-color;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 10px;
    line-height: 1;
    margin: 0;
    transition: all ease 0.4s;
  }

  .team-logo {
    padding: 27px 10px;
  }

  .match-verses {
    position: relative;
    // height: 100%;
    width: 3px;
    background-color: $smoke-color;
    transition: all ease 0.4s;

    .text {
      width: 50px;
      height: 50px;
      line-height: 46px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 61.9%;
      transform: translate(-50%, -50%);
      background-color: $body-bg;
      color: $title-color;
      border: 3px solid $smoke-color;
      border-radius: 50%;
      transition: all ease 0.4s;
    }
  }

  .match-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid $smoke-color;
    border-left: none;
    padding: 0 40px 0 60px;
    transition: all ease 0.4s;
  }

  .match-label {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: -0.4em 0 5px 0;
  }

  .match-name {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .match-date {
    background-color: $secondary-color;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: $white-color;
    font-weight: 500;
    margin: 0;
    padding: 9.5px 20px;
    line-height: 1;
  }

  .vs-btn {
    height: 68px;
    width: 68px;
    line-height: 68px;
    background-color: $smoke-color;
    color: transparent;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;

    i {
      position: relative;
      left: 25px;
      font-size: 20px;
      transition: all ease 0.4s;
      color: $title-color;
    }
  }

  &:hover {
    .team-name {
      background-color: $theme-color;
    }
    
    .team-name a {
      color: $white-color;
    }

    .match-verses .text,
    .match-top {
      border-color: $theme-color;
    }

    .match-verses {
      background-color: $theme-color;
    }

    .match-body {
      border-color: $theme-color;
    }

    .vs-btn {
      width: 216px;
      background-color: $theme-color;
      color: $white-color;

      i {
        left: 0;
        color: $white-color;
      }
    }
  }

}


.match-details {
  display: block;

  .match-date {
    color: $theme-color;
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin: -0.4em 0 7px 0;
    text-align: center;
    
    .time {
      color: $title-color;
    }
  }
  
  .match-title {
    text-align: center;
    margin-bottom: 32px;
  }

  > .vs-btn {
    margin: 0 auto 50px auto;
    width: max-content;
    display: block;
  }

}


@include ml {
  .match-style2 {
    padding: 60px 50px;

    &.layout3,
    &.layout2 {
      padding: 45px 40px 0 40px;
      outline-color: $theme-color;

      .match-bottom {
        opacity: 1;
        visibility: visible;
        position: relative;
        margin: 20px 0 0 0;
      }

      .match-date {
        font-size: 16px;
      }

      .match-time {
        font-size: 40px;
      }
    }

    &.layout3 {
      padding: 45px 40px 40px 40px;
    }
  }

  .match-style3 {
    .match-body {
      padding: 0px 30px 0 30px;
    }

    .match-name {
      font-size: 22px;
      margin-bottom: 15px;
    }

    .match-label {
      font-size: 16px;
    }

    &:hover {
      .vs-btn {
        width: 180px;
      }
    }
  }

  .match-style3 {
    display: block;

    .match-body {
      padding: 35px 30px;
      border-top: none;
      border-left: 3px solid $smoke-color;
    }

    .vs-btn {
      width: 180px;
      height: 60px;
      line-height: 60px;
      margin-top: 20px;
      color: $white-color;

      i {
        left: 0;
        font-size: inherit;
      }
    }
  }
}

@include lg {
  .match-style2 {
    .team-logo {
      max-width: 110px;
    }

    .avater {
      width: 36px;
      height: 36px;
    }

    &:not(.layout2):not(.layout3) {
      .match-time {
        width: 160px;
        height: 160px;
        line-height: 160px;
        font-size: 35px;
      }
    }
  }

  .match-menu1 {
    button {
      padding: 26px 20px 22px 20px;
      margin: 0 30px 2px 0;
    }

    .match-date {
      font-size: 20px;
    }

    .match-day {
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  .match-style1 {
    .match-date {
      font-size: 16px;
    }
  }
}


@include md {
  .match-style2 {
    padding: 50px 30px;
    
    .match-team {
      display: block;
      
      &:last-child {
        .team-logo {
          margin-left: auto;
        }
      }
    }

    .team-logo {
      margin-bottom: 13px;  
    }

    .match-name {
      font-size: 26px;
    }

    .match-date {
      font-size: 16px;
      margin: 0 0 35px 0;
    }

    .team-name {
      margin: 0 0 15px 0;
    }

    .match-bottom {
      margin-top: 25px;
    }
  }

  .match-menu1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    button {
      display: inline-block;
      width: 100%;
      margin: 0;
      text-align: center;

      &::before {
        display: none;
      }
    }
  }

  .match-menu2 {
    button {
      font-size: 14px;
      letter-spacing: 0;
      padding: 23px 28px;
    }
  }
}


@include sm {
  .match-style2 {
    padding: 40px 20px;
    
    &:not(.layout2):not(.layout3) {
      .match-time {
        width: auto;
        height: auto;
        line-height: 1;
        font-size: 20px;
        border-radius: 0;
        align-self: flex-start;
        color: $theme-color;
      }
    }

    .team-logo {
      max-width: 50px;
    }

    .avater {
      width: 30px;
      height: 30px;
      line-height: 22px;
    }

    .match-name {
      font-size: 22px;
      margin-bottom: 13px;
    }

    .match-date {
      font-size: 14px;
      margin: 0 0 25px 0;
    }

    &.layout2 {
      padding: 30px 20px 0 20px;

      .match-body {
        flex-wrap: wrap;
      }
    }

    &.layout2 {
      .match-middle {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
      }

      .match-team {
        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 3;
        }
      }
    }

    &.layout3 {
      padding: 30px 20px 20px 20px;

      .match-time {
        background-color: transparent;
        background-color: transparent;
        font-size: 28px;
        margin: 0 20px;
      }

      .match-middle {
        width: auto;
        background-color: transparent;
      }

      .team-logo {
        max-width: 100px;
      }
    }
  }

  .match-style1 {
    .match-top {
      padding: 20px 20px;
    }

    .team-name {
      font-size: 14px;
    }

    .team-logo {
      margin-bottom: 10px;
    }

    .match-team {
      display: block;
      text-align: center;
    }

    .match-time {
      font-size: 20px;
      color: $theme-color;
    }

    .match-date {
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  .match-menu2 {
    justify-content: center;

    button {
      &:before {
        display: none;
      }
    }
  }

  .match-style3 {
    .match-body {
      display: block;
      text-align: center;

      .vs-btn {
        margin-top: 25px;
      }
    }
  }
}

@include xs {
  .match-menu1 {
    button {
      padding: 26px 10px 22px 10px;
    }
  }

  .match-style3 {
    .match-body {
      padding: 35px 15px;
    }
  }

  .match-menu2 {
    button {
      padding: 23px 18px;
    }
  }
}


@include dark {
  .match-style1 {
    --smoke-color: #2f2c43;
  }
  
  .match-style2 {
    background-color: $secondary-color;

    &:not(.layout2):not(.layout3) {
      .match-time {
        background-color: rgba(#000, 0.15);
      }
    }
  }

  .match-style3 {
    --smoke-color: #2f2c43;

    .match-label {
      color: #dddddd;
    }
  }

  .match-menu2 {
    background-color: $secondary-color;
    
    button {
      &:before {
        background-color: rgba(#7a7a7a, 1);
      }
    }
  }

}