.product-style1 {
  display: flex;
  flex-direction: row-reverse;
  background-color: $smoke-color;
  border: 3px solid transparent;
  padding: 7px;
  transition: all ease 0.4s;
  margin-bottom: 30px;

  .product-category {
    margin-bottom: 3px;

    a {
      color: $body-color;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      text-decoration: underline;
      transition: all ease 0.4s;

      &:not(:last-child):after {
        content: ',';
        margin-right: 5px;
      }
    }
  }

  .product-content {
    flex: 1;
    align-self: center;
    padding: 0 0 0 30px;
  }

  .product-name {
    font-size: 20px;
    margin-bottom: 7px;
  }

  .product-price {
    font-size: 20px;
    font-weight: 500;
    color: $theme-color;
    margin-bottom: 12px;
    display: block;
    transition: all ease 0.4s;

    del {
      margin-left: 5px;
      color: $body-color;
      font-size: 16px;
      transition: all ease 0.4s;
    }
  }

  .star-rating {
    width: 86px;
    font-size: 12px;
  }

}

.slick-current .product-style1,
.dark-mode .slick-current .product-style1,
.product-style1:hover {
  background-color: #0f0c2b;
  border-color: transparent;

  .product-category a {
    color: #c1c1c1;
  }

  .product-price del,
  .product-name a {
    color: $white-color;
  }

}

.product-wrap1 {
  margin-bottom: -142px;
}

.product-scale-wrap {
  .slick-slide {
    position: relative;
    z-index: 1;
  }

  .vs-product {
    margin: 50px 0;
  }

  .slick-center {
    z-index: 2;

    .vs-product {
      transform: scale(1.5);
    }
  }
}


.product-style2 {
  border: 3px solid $border-color;
  background-color: $body-bg;
  transition: all ease 0.4s;
  margin-bottom: 30px;

  .product-name {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .product-category {
    margin-bottom: 10px;

    a {
      color: $body-color;
    }
  }

  .product-price {
    font-size: 22px;
    font-weight: 700;
    color: $theme-color;
    display: block;

    del {
      margin-left: 10px;
      color: $body-color;
      font-size: 16px;
      font-weight: 500;
      transition: all ease 0.4s;
    }
  }

  .product-img {
    position: relative;

    img {
      width: 100%;
    }
  }

  .actions {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10%;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.4s;
  }

  .product-content {
    padding: 0 35px 22px 35px;
  }

  &:hover {
    background-color: $secondary-color;
    border-color: transparent;

    .actions {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.dark-mode .product-style2,
.product-style2:hover {

  .product-category a,
  .product-price del {
    color: #a5a5a5;
  }

  .product-name a {
    color: $white-color;
  }

  .product-name a {
    &:hover {
      color: $theme-color;
    }
  }
}

.product-big-img {
  border: 3px solid $border-color;
  margin-bottom: 30px;
}

.product-rating {
  display: flex;
  align-items: center;
  color: $title-color;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 8px;

  .star-rating {
    margin-right: 7px;
  }
}

.product_meta {
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: $body-color;

  >span {
    display: block;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }

    >a,
    >span {
      position: relative;
      margin-right: 3px;
      font-weight: 700;
      color: $title-color;

      &:not(:last-child):after {
        content: ',';
      }

      &:first-child {
        margin-left: 5px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.product-about {
  margin-bottom: 30px;

  .product-title {
    margin-bottom: 7px;
  }

  .text {
    font-size: 18px;
  }

  .price {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: $theme-color;
    margin-top: 22px;
    margin-bottom: 8px;

    del {
      margin-left: 15px;
      color: $body-color;
      font-weight: 500;
      font-size: 24px;
    }
  }

  .text2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    margin-bottom: 33px;
  }

  .screen-reader-text {
    display: none;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
    margin-bottom: 43px;

    .vs-btn {
      height: 60px;
      line-height: 60px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .quantity {
    width: 100%;
    margin-bottom: 20px;
  }
}

.product-description {
  margin-top: 23px;
  margin-bottom: 53px;
}

.product-table {
  margin-bottom: 53px;

  th {
    background-color: $smoke-color;
    border-color: $smoke-color;
    border-bottom-color: $border-color;
    border-top-color: $border-color;
    width: 15%;
    padding: 15px 25px;
  }

  td {
    padding: 15px 25px;
  }
}

@include ml {
  .product-scale-wrap {
    .product-style1 {
      margin: 0 0 30px 0;
    }
  }

  .product-wrap1 {
    margin-bottom: 0;
    padding-bottom: $space-extra;
  }

  .product-style2 {
    .product-content {
      padding: 0 25px 22px 25px;
    }
  }
}

@include lg {
  .product-wrap1 {
    padding-bottom: $space-mobile-extra;
  }

  .product-about {
    .product-title {
      margin-bottom: 7px;
      font-size: 30px;
    }
    
    .price {
      font-size: 30px;

      del {
        font-size: 18px;
      }
    }
  }

}

@include md {
  .product-style1 {
    .product-img {
      max-width: 120px;
      align-self: center;
    }

    .product-content {
      padding: 0 0 0 20px;
    }

    .product-name {
      font-size: 18px;
    }

    .product-price {
      font-size: 18px;

      del {
        font-size: 12px;
      }
    }
  }

  .product-style1 {
    .product-content {
      padding: 0 0 0 10px;
    }
  }
}

@include sm {
  .product-table {
    th {
      width: 10%;
      padding: 6px 15px;
    }

    td {
      padding: 10px 15px;
    }
  }

  .product-about {
    .product-title {
      font-size: 26px;
    }

    .text {
      font-size: 16px;
    }

    .text2 {
      font-size: 14px;
      letter-spacing: 0;
      margin-bottom: 33px;
    }

    .actions {
      .vs-btn {
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .price {
      font-size: 24px;

      del {
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }
}


@include dark {
  .product-style1 {
    border-color: $secondary-color;
    background-color: $body-bg;

    .product-category {
      a:not(:hover) {
        color: #c1c1c1;
      }
    }
  }

}