<!-- evento/templates/evento/bienvenido.html -->
{% extends 'evento/index.html' %}
{% load static %}


{% block title %}
Bienvenido - Mi Proyecto Django
{% endblock %}

{% block content %}
<section class="vs-hero-wrapper position-relative  ">
    <div class="vs-hero-carousel" data-height="940" data-container="1900" data-slidertype="responsive">
        <!-- Slide 1-->
        <div class="ls-slide" data-ls="duration:12000; transition2d:5,6,7,8; kenburnsscale:1.2;">

            <img width="1920" height="938" src="{% static 'assets/img/hero/hero-bg-2-1.jpg' %}" class="ls-bg" alt="hero-bg" decoding="async">
            <ls-layer style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; left:0px; top:742px; width: 1920px; height: 200px; -webkit-background-clip:border-box;" class="ls-l ls-hide-phone ls-html-layer" data-ls="static:forever;">
                <div class="body-shape1 d-hd-none"></div>
            </ls-layer>
            <ls-layer style="font-size:22px; text-align:left; font-style:normal; text-decoration:none; text-transform:uppercase; font-weight:500; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:Barlow; line-height:22px; color:#ffffff; letter-spacing:2px; left:50%; top:362px; -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetyin:-100; durationin:1500; delayin:1000; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">
                MAE GAMING 
            </ls-layer>
            <h1 style="font-size:60px; text-align:left; font-style:normal; text-decoration:none; background-position:0% 0%; background-repeat:no-repeat; font-family:Barlow; left:50%; top:392px; font-weight:700; color:#ffffff;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">
               ¡Bienvenidos al Torneo Amateur de Valorant
            </h1>
            <h1 style="font-size:60px; text-align:left; font-style:normal; text-decoration:none; background-position:0% 0%; background-repeat:no-repeat; font-family:Barlow; left:50%; top:467px; font-weight:700; color:#ffffff;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">
              First Assault! 
            </h1>

            
            <div style="font-size:36px; color:#000; text-align:center; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:50%; top:574px; width:1500px;" class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:800; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
                <div class="ls-btn-group"><a href="tournament.html" class="vs-btn">Registrar Equipo</a><a href="https://discord.com/invite/DSFWd32yX2" target="_blank" class="vs-btn style3">Únete a Discord</a></div>
            </div>
            <ls-layer style="text-align:left; font-style:normal; text-decoration:none; text-transform:uppercase; font-weight:500; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:Barlow; line-height:30px; color:#ffffff; letter-spacing:2px; left:50%; top:222px; font-size:34px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetyin:-100; durationin:1500; delayin:1000; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">
                Cover All eSports &amp; Gamers Needs
            </ls-layer>
            <h1 style="font-size:80px; text-align:left; font-style:normal; text-decoration:none; background-position:0% 0%; background-repeat:no-repeat; font-family:Barlow; left:50%; top:280px; font-weight:700; color:#ffffff;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">
               ¡Bienvenidos al Torneo Amateur de Valorant
            </h1>
            <h1 style="font-size:80px; text-align:left; font-style:normal; text-decoration:none; background-position:0% 0%; background-repeat:no-repeat; font-family:Barlow; left:50%; top:388px; font-weight:700; color:#ffffff;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">
              First Assault! 
            </h1>
            <div style="font-size:36px; color:#000; text-align:center; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:50%; top:542px; width:1500px;" class="ls-l ls-hide-desktop ls-hide-phone ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:800; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
                <div class="ls-btn-group"><a href="tournament.html" class="vs-btn">Registrar Equipo</a><a href="https://discord.com/invite/DSFWd32yX2" target="_blank" class="vs-btn style3">Únete a Discord</a></div>
            </div>
            <ls-layer style="text-align:left; font-style:normal; text-decoration:none; text-transform:uppercase; font-weight:500; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:Barlow; line-height:60px; color:#ffffff; letter-spacing:2px; left:50%; top:142px; font-size:60px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetyin:-100; durationin:1500; delayin:1000; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">
                Cover All eSports &amp; Gamers Needs
            </ls-layer>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; background-position:0% 0%; background-repeat:no-repeat; font-family:Barlow; left:50%; top:235px; font-weight:700; color:#ffffff;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; durationin:1500; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">
               ¡Bienvenidos al Torneo Amateur de Valorant
            </h1>
            <h1 style="font-size:100px; text-align:left; font-style:normal; text-decoration:none; background-position:0% 0%; background-repeat:no-repeat; font-family:Barlow; left:50%; top:368px; font-weight:700; color:#ffffff;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:100; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-100; durationout:1500;">
              First Assault! 
            </h1>
            <div style="font-size:36px; color:#000; text-align:center; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; left:50%; top:587px; width:1500px;" class="ls-l ls-hide-desktop ls-hide-tablet ls-html-layer" data-ls="offsetyin:100; durationin:1500; delayin:800; easingin:easeOutQuint; offsetyout:100; durationout:1500; easingout:easeOutQuint; bgcolorout:transparent; colorout:transparent;">
                <div class="ls-btn-group"><a href="tournament.html" class="vs-btn">Registrar Equipo</a><a href="https://discord.com/invite/DSFWd32yX2" target="_blank" class="vs-btn style3">Únete a Discord</a></div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
